<div class="flexrow">
  {{#each buttons}}
    <button type="{{type}}" {{#if action}} data-action="{{action}}"{{/if}}>{{#if icon}}<i class="{{icon}}"></i>{{/if}}{{localize label}}</button>
  {{/each}}
</div>