.resources-form {
  $hp-color: #d1232a;
  $mp-color: #16aad6;
  $ip-color: #d68931;
  $zp-color: #f7a233;
  $token-item-width: 225px;
  $token-image-width: 72px;

  .cancel-button {
    color: #c70000;
  }

  .ok-button {
    color: #7cfc00;
  }

  .full-width {
    width: 100%;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .resource-icon {
    width: 16px;
    max-width: 16px;
    margin-top: 4px;

    &.hp {
      color: $hp-color;
    }

    &.mp {
      color: $mp-color;
    }

    &.ip {
      color: $ip-color;
    }

    &.zp {
      color: $zp-color;
    }
  }

  .progress {
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 0;
    width: 100%;

    .back {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: white;
      &.hp {
        background-color: var(--hp-color);
        background-image: linear-gardient(
          90deg,
          var(--hp-color),
          rgba(255, 255, 255, 0.5)
        );
      }
      &.mp {
        background-color: var(--mp-color);
        background-image: linear-gradient(
          90deg,
          var(--mp-color),
          rgba(255, 255, 255, 0.5)
        );
      }
      &.ip {
        background-color: var(--ip-color);
        background-image: linear-gradient(
          90deg,
          var(--ip-color),
          rgba(255, 255, 255, 0.5)
        );
      }
    }

    .front {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: white;
      color: black;
      transition: clip-path 1% linear;
    }
  }

  .token-item {
    width: var(--token-item-width);
    min-width: var(--token-item-width);
    max-width: var(--token-item-width);
    margin-right: 2px;
    border: none;
    background: inherit;

    td {
      background: inherit;
      padding: 0;
    }

    tr {
      background: inherit;
    }

    .token-image {
      width: var(--token-image-width);
      min-width: var(--token-image-width);
      max-width: var(--token-image-width);
      margin: 0 10px;
    }

    img {
      border: none;
      width: var(--token-image-width);
      min-width: var(--token-image-width);
      max-width: var(--token-image-width);
    }

    .resource-label {
      width: 25px;
      padding-right: 5px;
    }

    .leftcheck {
      margin-left: -2px;
    }
  }

  .token-header {
    min-height: 116px;
  }

  .checklabel {
    position: relative;
    top: -4px;
  }

  .num-button {
    width: 32px;
    max-width: 32px;
    min-width: 32px;
  }

  .remove-button {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .dialog-buttons {
    max-height: 32px;
  }

  .update-card-col {
    width: 33%;
  }
}
