<div data-role="token-item" data-token-id="{{token.id}}" class="token-item">
  <div class="flexcol">
    <div class="flex0">
      <img src="{{token.actor.img}}" />
    </div>
    <div class="flex0 token-name">{{token.name}}</div>
  </div>
</div>