<div id="resourcesForm" class="flexcol">
  <form>
  {{> "modules/erica-pfu-macros/templates/resources_dialog/token_header.hbs" this}}
  <hr>
  {{> "modules/erica-pfu-macros/templates/resources_dialog/resource_operations" this}}
  </form>
</div>